<h1>page d'accueil du site</h1>
<a href="index.html">s'enregistrer/se connecter</a>
<br/>
<a href="/api/users">accéder aux données</a>
<p>Bonjour,</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p> 
<p>Voluptas, doloremque excepturi dolorem inventore temporibus at natus in facilis! 
       Recusandae ducimus nobis possimus quam culpa est tenetur facere, 
       veritatis saepe unde.</p>