<form method="POST" action="/login">
    <label>Votre email</label>
    <br/>
    <input type="email" name="email" />
    <br/>
    <label>Votre mot de passe</label>
    <br/>
    <input type="password" name="password" />
    <br/>
    <input type="submit" value="valider" />
</form>