<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div>
    <label>Email : </label>
    <input type="text" id="email" name="email" placeholder="Entrez votre email"/>
    <br/>
    <label>Mot de passe : </label>
    <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe"/>
    <br/>
    <button id="login_button">Valider</button>
    <p id="error_message" name="error_message"></p>
</div>
<script>document.getElementById("login_button")
        .addEventListener("click", function(){
           let email = document.getElementById("email").value;
           let password = document.getElementById("password").value;
           let errorMessageElement = document.getElementById("error_message");
           axios ({
               url:"/login2",
               method:"post",
               headers: {
                   'Accept': 'application/json',
                   'Content-Type': 'application/json;charset=UTF-8'
               },
               data: {
                   email: email,
                   password: password
               }
           
    })
    .then(function(response) {
        window.location.href = "home.html"
    })
    .catch(function(err) {
        errorMessageElement.textContent = "email / mot de passe incorrect"
    })
})
</script>